{% load i18n %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'lg/style.css' %}">
<li class="nav-item">
    <div class="lg-flex align-items-center lg-tooltip-container">
        <a class="nav-link" id="generateLists" href="#">
            {% trans "Listen neu generieren" %}
        </a>
        <span class="alert alert-warning lg-tooltip">Erstellt: unbekannt</span>
        <div id="spinner-list-gen" class="spinner-border spinner-border-sm lg-progress-hidden" role="status" aria-hidden="true"></div>
        <div id="lg-checkmark" class="lg-progress-hidden">&#10004;</div>
        <div id="lg-error" class="lg-progress-hidden">&#10060</div>
    </div>
</li>
{% block scripts %}
<script type="text/javascript" src='{% static "lg/generate_lists.js" %}'>
</script>
{% endblock %}